html{
    font-size: 22px

}

body  {
    background-color: rgb(247, 246, 244);
    color: rgb(194, 125, 34);

}
.blank, li, a{
    text-decoration: none;
}
a{
    color: burlywood;
}
a:visited{
    color: burlywood;
}
a:hover{
    color: black;
}